*{
    padding: 0;
    margin: 0;
} 
@keyframes move {
  0%   { transform: rotate(0deg) translate(0px, 0px); }
  50%  { transform: rotate(5deg) translate(5px, 0px); }
  100% { transform: rotate(0deg) translate(0px, 0px); }
}
.signIn, .logIn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
   background: #0085FF;
    background: -moz-radial-gradient(center, #0085FF 0%, #003465 100%, #003465 100%);
    background: -webkit-radial-gradient(center, #0085FF 0%, #003465 100%, #003465 100%);
    background: radial-gradient(ellipse at center, #0085FF 0%, #003465 100%, #003465 100%);
}
#sign-In-form{
    padding: 2rem 5rem;
    background-color: rgba(88, 130, 193, 0.28);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
#regestirForm{
    padding: 2rem 5rem;
    background-color: rgba(88, 130, 193, 0.28);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.sign-in-btn, .login-btn{
    background-color: #003465;
    color: #FFFFFF;
    border: none;
    border-radius: 0.5rem;
    padding: 0.25rem 6rem;
}
input::placeholder{
    color: #BCBEC0;
}
.bk0images{
    object-fit: contain;
    left: 22rem;
    bottom: 28rem;
    position: fixed;
    opacity: 0.5;
    transform: rotate(-30deg);
    transform: rotate(6deg) translate(30px, 12px);
    animation: move 4s ease-in-out infinite;
}
.bk1images{
    object-fit: contain;
    left: 19rem;
    bottom: -1rem;
    position: fixed;
    transform: rotate(6deg) translate(30px, 12px);
    animation: move 4s ease-in-out infinite;
}
.bk2images{
    object-fit: contain;
    left: -15rem;
    bottom: 2rem;
    position: fixed;
    transform: rotate(50deg) translate(30px, 12px);
    animation: move 4s ease-in-out infinite;
}
.bk6images{
    object-fit: contain;
    left: 65rem;
    bottom: 25rem;
    position: fixed;
    transform: rotate(90deg) translate(30px, 0px);
    animation: move 4s ease-in-out infinite;
}
.bk4images{
    object-fit: contain;
    left: 18rem;
    bottom: 2rem;
    position: fixed;
    transform: rotate(6deg) translate(30px, 12px);
    animation: move 4s ease-in-out infinite;
}
.bk5images{
    object-fit: contain;
    left: 3rem;
    top: -4rem;
    position: fixed;
    transform: rotate(6deg) translate(30px, 12px);
    animation: move 4s ease-in-out infinite;
}
.bk7images{
    object-fit: contain;
    left: 45rem;
    bottom: 20rem;
    position: fixed;
    animation: move 4s ease-in-out infinite;
}
.bk9images{
    object-fit: contain;
    left: 37rem;
    bottom: 0rem;
    position: fixed;
    rotate: (180deg);
    transform: rotate(6deg) translate(30px, 12px);
    animation: move 4s ease-in-out infinite;
}
.bk8images{
    object-fit: contain;
    right: -10rem;
    bottom: 0rem;
    position: fixed;
    rotate: (2deg);
    transform: rotate(6deg) translate(30px, 12px);
    animation: move 4s ease-in-out infinite;
}
.dashboard{
    height: 100vh;
    background: #020423;
    background: -moz-linear-gradient(45deg, #020423 0%, #0126A1 70%, #00A3ED 100%);
    background: -webkit-linear-gradient(45deg, #020423 0%, #0126A1 70%, #00A3ED 100%);
    background: linear-gradient(45deg, #020423 0%, #0126A1 70%, #00A3ED 100%);
}
.card{
    padding: 0rem 5rem;
    background: #020423;
    background: -moz-radial-gradient(center, #020423 0%, #00094F 56%, #00094F 100%);
    background: -webkit-radial-gradient(center, #020423 0%, #00094F 56%, #00094F 100%);
    background: radial-gradient(ellipse at center, #020423 0%, #00094F 56%, #00094F 100%);
    box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0);
}
body#tinymce {
background: #FFFFFF
}
.card-image{
    background-color: #020423;
    position: relative;
    left: 11rem;
    top: 2rem;
}
.user-name{
    font-family: "Roboto Condensed", sans-serif;
}